/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.home-box img{
	width: 100%;
	height: auto;
}

.block-views-homepage-block .views-row-1, .block-views-homepage-block .views-row-2{
	float: left;
	width: 50%;
 }


.block-views-homepage-block .views-row-3, .block-views-homepage-block .views-row-4, .block-views-homepage-block .views-row-5{
	float: left;
	width: 33.33%;
 }

.block-homepage-blog-block, .block-homepage-sustainable-block, .block-homepage-innovation-block, .block-homepage-testimonial-block{
	float: left;
	width: 25%;
}


/* Case studies */

.case-study img{
	width: 100%;
	height: auto;
}

.context-case-studies .views-row{
	width: 25%;
	float: left;
}

.node-type-case-study .field-case-study-image img{
	width: 100%;
	height: auto;
}

.node-type-case-study article{
	position: relative;
}

.case-study-content-wrap{
	width: 25%;
	position: absolute;
	top: 0;
	right: 0;
	background: white;
}

.case-study-content{
	width: 100% !important;
}
